
/* =========================
   背景統一
========================= */

body {
  margin: 0;
  background: #f4f7fb;
  font-family: sans-serif;
}

/* =========================
   中央配置
========================= */

.post-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* =========================
   カード
========================= */

.post-card {
  width: 500px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* タイトル */
.post-card h2 {
  color: #005bac;
  margin-bottom: 20px;
}

/* =========================
   フォーム
========================= */

label {
  display: block;
  margin-top: 12px;
  font-size: 13px;
  color: #333;
}

select, textarea {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

select:focus,
textarea:focus {
  border-color: #005bac;
}

/* =========================
   ボタン
========================= */

form button {
  margin-top: 19px;
  padding: 0px 15px;
  background: #005bac;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #003f7d;
}

/* =========================
   エラーメッセージ
========================= */

.message {
  width: 500px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 8px;
}

.message.danger {
  background: #fdecea;
  border-left: 4px solid #e74c3c;
}
