@charset "UTF-8";

.word{ 
	text-align: center; padding: 7px 0px; 
}

.main {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 20px auto;
  flex: 1;
  gap: 20px;
  align-items: flex-start;
}


.main-menu {
  width: 240px;
  padding: 18px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
}

.main-news {
  display: flex;
  gap: 20px;
  flex: 1;
}

/* 3カラム統一 */
.main-news > div {
  flex: 1;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
}



.news-infomation {
  margin-bottom: 10px;
  padding: 10px;
  border-left: 4px solid #005bac;
  background: #fafcff;
  border-radius: 6px;
}


.profile {
  width: 85%;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #e6e6e6;
}



.main-menu li a {
  display: block;
  padding: 10px 12px;
  margin-bottom: 6px;
  border-radius: 8px;
  transition: 0.2s;
}

.main-menu li a:hover {
  background: #005bac;
  color: #fff;
}

.footer-copy{ 
	text-align: center;
}